@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;800&family=Russo+One&display=swap');

.card-container {
    max-width: 400px; /* El ancho máximo que desees */
}

@font-face {
    font-family: 'space-age';
    src: url('../../../public/fonts/space-age.ttf') format('ttf');
    font-weight: bold;
    font-style: bold;
}

.title-card{
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    padding: 5px;
}

.body-card{
    
    padding: 5px;
}

.body-title-card{
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-size: 17px;
    padding: 5px;
}
  
/*Style to Stars*/
/* Agrega estilos para las estrellas */
.star {
    font-size: 24px;
    color: gray; /* Color de las estrellas vacías (puedes cambiarlo según tu preferencia) */
    margin-right: 5px; /* Espacio entre las estrellas */
  }
  
  /* Estilos para las estrellas llenas */
  .filled {
    color: #FFC300; /* Color de las estrellas llenas (amarillo) */
  }

  /*Style to Rating*/

  /* Aplica flexbox a la clase 'flex-row' */
.flex-row {
    display: flex;
    align-items: center; /* Alinea verticalmente en el centro si es necesario */
  }
  
  /* Establece un espacio entre el valor de la calificación y las estrellas */
  .rating-value {
    margin-left: 10px; /* Ajusta el valor según sea necesario */
  }
  
  /*Style to images*/
  /* Establece un tamaño máximo para las imágenes dentro de la tarjeta */
.card-container img {
  max-width: 100%; /* Ajusta el tamaño máximo según tus preferencias */
  height: 200px;
}